# 操作系统相关
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# 编辑器相关
.vscode/
*.swp
*.swo

# 日志文件
*.log
202_crimes_keywords.json
backend/evaluate/sample_100x10_fast.cleaned.jsonl
backend/evaluate/sample_100x10_fast.dirty.jsonl
backend/evaluate/sample_100x10_fast.jsonl
backend/evaluate/data
backend/evaluate/*.txt
backend/data/fact_embeddings/indexes/*.faiss
backend/data/fact_embeddings/indexes/*.hnsw
backend/data/fact_embeddings/indexes/*.pkl
backend/data/fact_embeddings/*.pkl
backend/data/fact_embeddings/*.json
backend/data/fact_embeddings/*.npy
legal-crime-classifier
legal-article-classifier
law_process
Agent_test
agent/src/output
backend/sparse-embedding/data/sparse_matrix.npz
backend/sparse-embedding/data/train_universal_schema.jsonl
backend/sparse-embedding/data/train_sparse_features.jsonl
backend/sparse-embedding/data/universal_schema.jsonl
cluster/
dataset/final_all_data/

# 编译输出
bin/
obj/
build/

# 依赖管理
model/
RAG4Law/
*.pyc

# 环境变量文件
.env


# Visual Studio
*.gitignore
